:root {
    --bg-color:  #E5E5E5;
    --bdr-color:  #9D9D9D;
    --text-color:  #222222;
    --hover-color: #2C2C2C;
  }
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 4em;
   
}
h2 {
    font-size: 3em;
   
}
h3 {
    font-size: 2.5em;
   
}
h4 {
    font-size: 2em;
   
}
h5 {
    font-size: 1.5em;
   
}
h6 {
    font-size: 1em;
   
}
.hover-1:hover {
    position: relative;
    padding: 10px;  
    bottom: 100%;
     border-bottom: 3px solid rgb(55, 55, 55);
     cursor: pointer;
}
.hover-2:hover {
    border-bottom: 1.6px solid rgb(55, 55, 55);
    padding: 1px;  
    cursor: pointer;
}
.hover-3:hover {
    border-bottom: 3px solid rgb(55, 55, 55);
    cursor: pointer;
    
}
/* ================================================================= */
.btn-primary {
    background-color: var(--bdr-color);
    font-size: 16px;
    height: 42px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-primary:hover {
    background-color: var(--text-color);
    font-size: 16px;
    height: 42px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-secondary {
    background-color: #ffffff;
    font-size: 16px;
    height: 42px;
    width: 148px;
    border: solid 2px #383838;
    color: #9D9D9D;
    font-weight: bold;
    margin: 10px;
}
.btn-secondary:hover {
    background-color: #383838;
    font-size: 16px;
    height: 42px;
    width: 148px;
    border: solid 2px #383838;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-bg {
    background-color: #9D9D9D;
    font-size: 16px;
    height: 72px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-bg:hover {
    background-color: #383838;
    font-size: 16px;
    height: 72px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-md {
    background-color: #9D9D9D;
    font-size: 16px;
    height: 60px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-md:hover {
    background-color: #383838;
    font-size: 16px;
    height: 60px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-sm {
    background-color: #9D9D9D;
    font-size: 16px;
    height: 42px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-sm:hover {
    background-color: #383838;
    font-size: 16px;
    height: 42px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-pl {
    background-color: #9D9D9D;
    font-size: 16px;
    height: 42px;
    width: 148px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    margin: 10px;
}
.btn-sr {
    background-color: #9D9D9D;
    font-size: 16px;
    height: 42px;
    width: 148px;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}
/* ================================================================= */
.search-1 {
    width: 345px;
    height: 45px;
    border: solid 1px #9D9D9D;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}
::placeholder {
  color: #9D9D9D;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-left: 20px;
  }
.submit-1 {
    background-color: #9D9D9D;
    position: relative;
    height: 45px;
    width: 64px;
    top: 3px;
    left: -4px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}
.submit-2 {
    background-color: #ffffff;
    position: relative;
    height: 43px;
    width: 64px;
    top: 45px;
    left: -4px;
    border: solid 1px #9D9D9D;
}
.svg-lens {
    filter: invert(1);
    transform: scale(1.5);
}
.svg-lens-2 {
    filter: invert(0.5);
    transform: scale(1.5);
    position: relative;
    top: 10px;
    left: 17px;
}
.lens-search {
    position: relative;
    top: 3px;
    left: 2px;
    filter: invert(1);
}
.search-2 {
    position: relative;
    left: 60px;
    width: 346px;
    height: 45px;
    border: solid 1px #9D9D9D;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}
/* ================================================================= */
label input {
    visibility: hidden;/* <-- Hide the default checkbox. The rest is to hide and allow tabbing, which display:none prevents */
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
  }
  label span {/* <-- Style the artificial checkbox */
    height: 24px;
    width: 24px;
    border: 1px solid grey;
    display: inline-block;
  }
  [type=checkbox]:checked + span {/* <-- Style its checked state */
    background: rgb(160, 157, 157);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.text-area {
}
::-webkit-resizer {
    background: rgb(73, 73, 73);
  }
